@import "../../scss/variables.scss";
@import "../../scss/mixin.scss";

$foot-h: 180px;
$foot-con-h: 160px;
$line-color: rgba(255, 255, 255, 0.25);
$font-orgen: #f08047;

.footer {
  position: relative;
  @include wh(100%, $foot-h);
  box-sizing: border-box;
  padding: 10px 150px;
  background: #fff;
  @include font(14px, #333, normal);
  // border-top: 1px solid #e9ecef;
  
  .websiteInfo {
    display: flex;
    flex-wrap: wrap;
    @include center;
    color: #212529;
    width: 400px;
    text-align: center;
    .websiteName {
      width: 100%;
      margin-bottom: 5px;
      .name {
        cursor: pointer;
        margin-left: 4px;
        @include font(12px, $theme-color, 600);
      }
    }
    .websiteProvider {
      cursor: pointer;
      width: 100%;
      margin-bottom: 5px;
      @include font(13px, $theme-color, 600);
      a {
        @include font(14px, $theme-color, 600);
      }
    }
  }
}