@import "./variables.scss";
@import "./mixin.scss";
// 响应式css
@media screen and (min-width: 1200px) {
  .z-blog-container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 990px) {
  .z-blog-container {
    max-width: 970px;
  }
}

::-webkit-scrollbar {
	width: 6px;
	height: 5px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: $theme-color;
	border-radius: 6px;
} 

::-webkit-scrollbar-thumb:horizontal {
	width: 6px;
	background-color: rgba(125, 125, 125, 0.7);
	border-radius: 6px;
}

.main-page {
	background-color: #f8f9fa;
	.main-content {
		max-width: 1140px;
		margin: 0 auto;
		
		display: flex;
		.content-wrap {
			flex: 1;
		}
		.aside-wrap {
			width: 257px;
		}
	}
}

.icon-tip__blog {
	position: relative;
	display: inline-block;
	@include wh(11px, 11px);
	margin-right: 5px;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		transform: translate(-3px, -3px);
		@include wh(17px, 17px);
		border-radius: 50%;
		z-index: -1;
	}
}

.icon-tag {
	@include bg-max($icon-tag);
	&::before {
		background: green;
	}
}
.icon-readCount {
	@include bg-max($icon-readCount);
	&::before {
		background: red;
	}
}
.icon-date {
	@include bg-max($icon-date);
	&::before {
		background: rgb(78, 78, 241);
	}
}
