
$bg-color: #000;
$bg-head: #fff;

$theme-color: #FE9600;
$blog-avatar: url("../assets/images/blog-logo.png");

$scroll-line: url("../assets/images/scroll.png");

$blog-header-h: 60px;

$main-header-bg: url("../assets/images/main-header.png");
$main-header-h: 600px;
$ripple-h: 70px;

// ## blogAside ## //
$aside-title-bg: url("../assets/images/blogInfo-bg.jpg");
$avatar-bg: url("../assets/images/avatar.jpg");