
$bg-color: #000;
$bg-head: #fff;


$theme-color: #FE9600;

$blog-avatar: url("../assets/images/blog-logo.png");
$default-avatar: url("../assets/images/default-avatar.png");

$scroll-line: url("../assets/images/scroll.png");

$blog-header-h: 60px;

$main-header-bg: url("../assets/images/main-header.png");
$main-header-h: 600px;
$ripple-h: 70px;

// ## blogAside ##
$aside-title-bg: url("../assets/images/blogInfo-bg.jpg");
$avatar-bg: url("../assets/images/icon-avatar.jpg");

// icon
$icon-tag: url("../assets/images/tag.png");
$icon-readCount: url("../assets/images/readCount.png");
$icon-date: url("../assets/images/date.png");
$icon-msg: url("../assets/images/msg.png");
$icon-user: url("../assets/images/user.png");
$icon-link: url("../assets/images/link.png");
$icon-share: url("../assets/images/share.png");

$icon-email: url("../assets/images/icon-email.png");

$sys-juejin: url("../assets/images/sys-juejin.png");
$sys-github: url("../assets/images/sys-github.png");
$sys-sifou: url("../assets/images/sys-sifou.png");
